.media {
    display: flex;
    align-items: center;
    /* Aligns items vertically at the center */
    justify-content: space-between;
    /* Adds space between items */
}

.media_player {
    width: 75%;
    aspect-ratio: 16/9;
}
