body {
    display: flexbox;
    background-color: rgb(28, 28, 28);
    color: white;
    user-select: none;
    /* Disable text selection */
    caret-color: transparent;
    /* Adjust text color for readability */
}


.media {
    box-shadow: 0px 10px 90px rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    margin-top: 3%;
    margin-left: 5%;
    width: 55%;
    aspect-ratio: 16/9;
}

.title {
    font: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5.5%;
    margin-top: 0.5%;
    margin-bottom: 0.7%;
    width: 53.7%;
}

.descp {
    border-radius: 2%;
    width: 53.7%;
    padding: 0.7%;
    background-color: rgba(72, 70, 70, 0.429);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 0.5%;
}

.para {
    padding: 0%;
    margin: 0%;
}

.controls {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 55%;
    justify-content: center;
}

#play-pause {
    width: 2.3%;
}